*{
	margin: 0px;
	padding: 0px;
}

/*input {
  display: inline-block;
  float: center;
}

#menu-blogs{
	max-width: 22%;
	min-width: 22%;
}*/


#menu-blogs label{
    display: inline-block;
    float: left;
    clear: left;
    width: 20%;
    text-align: justify-all;
}



.entries:hover{
	padding: 10px;
	border-radius: 11px 11px 11px 11px;
	-moz-border-radius: 11px 11px 11px 11px;
	-webkit-border-radius: 11px 11px 11px 11px;
	max-width: 100%;
	max-height: 10%;
	border: 0px solid #000000;
	-webkit-box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.75);
	
}


#entradas-container{
	left: 24%;
	min-width: 68%;
	min-height: 80%;
	max-width: 68%;
	max-height: 80%;
	border-radius: 17px;
	
	background-color: white;
	position:absolute;
}

#registro-container{
	max-width: 38%;
	border-radius: 10px;
	margin: auto;
	border: solid 1px;
	background-color: white;
}

#usuario-container{
	max-width: 100%;
	border-radius: 5px;

	background-color: #286090;
}


#div-login{
	border: 0px solid #000000;
	padding:10px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 6px 7px 11px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 7px 11px -4px rgba(0,0,0,0.75);
	box-shadow: 6px 7px 11px -4px rgba(0,0,0,0.75);
}



#div-entrada{
	border: 0px solid #000000;
	padding:10px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 6px 7px 11px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 7px 11px -4px rgba(0,0,0,0.75);
	box-shadow: 6px 7px 11px -4px rgba(0,0,0,0.75);
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


