*{
	margin: 0px;
	padding: 0px;
}


.entries #title{
	background-color: #A9F5F2;
	border: solid 0px;
	width: 90%;
	margin-top: 10px;
	margin-left: 5%;
}

.entries #title:hover{
   background-color: #2ECCFA;
   border-radius: 5px;
   width: 90%;
   margin-top: 10px;
   margin-left: 5%;
	cursor: pointer;
}

.entries #body{
   background-color: white;
   border-radius: 15px;
   min-width: 90%;
	min-height: 20%;
	max-width: 90%;
	max-height: 20%;
	margin-left: 5%;
}

#entradas-container{
	max-width: 65%;
	border-radius: 17px;
	margin: auto;
	background-color: #A9F5F2;
}

#registro-container{
	max-width: 38%;
	border-radius: 10px;
	margin: auto;
	background-color: #A9F5F2;
}

#usuario-container{
	max-width: 100%;
	border-radius: 5px;
	margin: auto;
	background-color: #286090;
}


#div-login{
	border: 0px solid #000000;
	padding:10px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-webkit-box-shadow: 6px 7px 11px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 7px 11px -4px rgba(0,0,0,0.75);
box-shadow: 6px 7px 11px -4px rgba(0,0,0,0.75);
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
